body {
  background: url(../assets/jeremy-bishop-G9i_plbfDgk-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.user-item {
  display: flex;
}

.user-item img {
  width: 50px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 20px;
  width: 100%;
}

.ui.container {
  padding: 3vh 25vw;
}

.ui.segment {
  min-width: 280px;
  /* border: 1px solid red; */
}

.ui.basic.button a {
  color: inherit;
}

.ui.basic.button a:hover {
  color: #000000;
}

.header {
  font-weight: 750;
}

.pagination {
  display: flex;
  justify-content: center;
}
