.user-item {
  display: flex;
}

.user-item img {
  width: 50px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 20px;
  width: 100%;
  /* border: 1px solid red; */
}
