.user-detail.ui.container {
  height: 100vh;
}

.user-detail.ui.segment {
  height: 100%;
  justify-content: center;
  /* border: 1px solid red; */
}

.user-detail.ui.segment button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.login {
  display: flex;
  justify-content: space-around;
  margin: 25px auto;
  padding: 10%;
  font-weight: 750;
  font-size: 2rem;
}

.user-url {
  display: flex;
  justify-content: center;
}

.user-url a {
  color: #9a9a9a;
}

.user-url a:hover {
  color: #000000;
}

.avatar img {
  width: 100%;
}
